* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px; }

.base_container {
  max-width: 940px;
  margin: 20px auto; }

.row {
  display: block;
  margin-bottom: 1em; }

.color {
  font-size: 10px;
  margin-bottom: 2em; }
  .color--item {
    display: inline-block;
    border-radius: 5px;
    overflow: hidden; }
  .color .shade {
    display: block;
    font-size: 0; }
    .color .shade--light, .color .shade--md, .color .shade--dark {
      width: 48px;
      height: 48px;
      display: inline-block; }
    .color .shade--light {
      background: #42c7b7; }
      .color .shade--light.blue {
        background: #77bfe5; }
      .color .shade--light.orange {
        background: #e8d48b; }
      .color .shade--light.red {
        background: #e79f91; }
      .color .shade--light.grey {
        background: #dee2e7; }
      .color .shade--light.black {
        background: #494949; }
    .color .shade--md {
      background: #24aa98; }
      .color .shade--md.blue {
        background: #60abd0; }
      .color .shade--md.orange {
        background: #d9c26c; }
      .color .shade--md.red {
        background: #db7560; }
      .color .shade--md.grey {
        background: #c6ccd2; }
      .color .shade--md.black {
        background: #383737; }
    .color .shade--dark {
      background: #1A9385; }
      .color .shade--dark.blue {
        background: #5093b7; }
      .color .shade--dark.orange {
        background: #c9b248; }
      .color .shade--dark.red {
        background: #c25842; }
      .color .shade--dark.grey {
        background: #b4bbc2; }
      .color .shade--dark.black {
        background: #262626; }
  .color .descr {
    padding: 20px;
    background: #373838;
    font-weight: 600; }
    .color .descr--name {
      color: #FFF;
      font-size: 1rem;
      padding-bottom: .4em; }
    .color .descr--hex {
      font-size: 1rem;
      color: #24aa98; }
      .color .descr--hex.blue {
        color: #65adb0; }
      .color .descr--hex.orange {
        color: #d9c26c; }
      .color .descr--hex.red {
        color: #db7560; }
      .color .descr--hex.grey {
        color: #eaeaea; }
      .color .descr--hex.black {
        color: #c0c0c0; }

.button--item.sm.round--arr, .button--item.round--arr, .button--item.sm.round--menu, .button--item.round--menu, .button--item.sm.split--arr, .button--item.big.round, .button--item.sm.round, .button--item.round {
  border-radius: 5px; }

.button--item.sm.round--arr, .button--item.round--arr {
  position: relative;
  z-index: 1;
  padding-right: 15px; }
  .button--item.sm.round--arr:after, .button--item.round--arr:after {
    content: "";
    position: absolute;
    background: #65abd0;
    height: 32px;
    width: 32px;
    top: 5px;
    left: 66px;
    border-radius: 4px;
    transform: rotate(45deg);
    z-index: -1;
    -webkit-transition: all .01ms;
    -moz-transition: all .01ms;
    -ms-transition: all .01ms;
    -o-transition: all .01ms;
    transition: all .01ms; }
  .button--item.round--arr:hover:after {
    background: #2ed3bd; }

.button--item.sm.round--menu, .button--item.round--menu {
  padding: 0;
  width: 48px;
  height: 48px;
  position: relative; }
  .button--item.round--menu .menu-icon {
    position: absolute;
    display: block;
    width: 50%;
    height: .1rem;
    border-radius: .01rem;
    background: white;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 50%; }
    .button--item.round--menu .menu-icon:first-child {
      top: 30%; }
    .button--item.round--menu .menu-icon:last-child {
      top: 70%; }

.button--item.sm.split--arr {
  width: 7.5rem;
  height: 3.6rem;
  position: relative; }
  .button--item.sm.split--arr:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    background-color: #609fc0; }
  .button--item.sm.split--arr:hover {
    background-color: #65abd0; }
  .button--item.sm.split--arr .arr-icon {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 53%;
    height: 110%;
    top: -5%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
    .button--item.sm.split--arr .arr-icon:hover {
      background-color: #8cc0dc; }
    .button--item.sm.split--arr .arr-icon:first-child {
      left: -2%;
      background-image: url("../img/sm_arr_rtl.png"); }
    .button--item.sm.split--arr .arr-icon:last-child {
      right: -3%;
      background-image: url("../img/sm_arr_ltr.png");
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }

.button--item.big.oval-inverse, .button--item.sm.oval-inverse, .button--item.oval-inverse, .button--item.big.oval, .button--item.sm.oval, .button--item.oval {
  -webkit-border-radius: 30px;
  border-radius: 30px; }

.button--item.big.oval-inverse, .button--item.sm.oval-inverse, .button--item.oval-inverse {
  padding-left: 2rem;
  padding-right: 2rem;
  background: white;
  color: #65abd0;
  border-color: #65abd0; }
  .button--item.oval-inverse:hover {
    border-color: #8cc0dc;
    background: white; }

.button--item.circle-back {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  padding: 15px 15px;
  background-image: url("../img/mid_arr_rtl.png");
  background-repeat: no-repeat;
  background-position: 46% 50%; }

.button--item.big.circle-forward, .button--item.sm.circle-forward {
  border-radius: 50%;
  height: 3.7rem;
  width: 3.7rem;
  background-image: url("../img/sm_arr_ltr.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 19px 23px; }

.split.round--menu {
  padding: 0;
  width: 48px;
  height: 49px;
  position: relative; }
  .split.round--menu .menu-icon {
    position: absolute;
    display: block;
    width: 50%;
    height: .1rem;
    border-radius: .01rem;
    background: white;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 50%; }
    .split.round--menu .menu-icon:first-child {
      top: 30%;
      width: 40%; }
    .split.round--menu .menu-icon:last-child {
      top: 70%;
      width: 30%; }

.split.button--item:not(.round) {
  background-color: #24aa98;
  margin-right: -5px;
  border-radius: 0px; }
  .split.button--item:not(.round):first-child {
    border-radius: 5px 0 0 5px; }
    .split.button--item:not(.round):first-child:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 2px;
      background-color: #269e8e; }
    .split.button--item:not(.round):first-child .menu-icon:first-child {
      left: 45%; }
    .split.button--item:not(.round):first-child .menu-icon:last-child {
      left: 40%; }
  .split.button--item:not(.round):last-child {
    border-radius: 0 5px 5px 0; }
    .split.button--item:not(.round):last-child:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0%;
      height: 100%;
      width: 1px;
      background-color: #269e8e; }
    .split.button--item:not(.round):last-child .menu-icon:first-child {
      left: 55%; }
    .split.button--item:not(.round):last-child .menu-icon:last-child {
      left: 60%; }

.button--item {
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
  padding: 1.2rem 3.38rem;
  background-color: #65abd0;
  border: 2px solid transparent;
  margin-right: .5em;
  vertical-align: middle;
  transition: all .5s; }
  .button--item.split {
    background-color: #24aa98; }
    .button--item.split:hover {
      background-color: #8cc0dc; }
  .button--item:hover {
    background-color: #2ed3bd;
    cursor: pointer; }
  .button--item.big {
    padding: 18px 56px; }
    .button--item.big.circle-forward {
      height: 56px;
      width: 56px;
      background-image: url("../img/big_arr_ltr.png"); }
  .button--item.sm {
    padding: 5px 43.5px; }
    .button--item.sm.round--menu {
      height: 37px;
      width: 37px; }
    .button--item.sm.circle-forward {
      height: 35px;
      width: 35px;
      padding: 7px 13.5px; }
    .button--item.sm.round--arr {
      padding-left: 25px; }
      .button--item.sm.round--arr:after {
        height: 24px;
        width: 24px;
        top: 2px;
        left: 100%;
        margin-left: -13px; }

.split {
  vertical-align: middle; }
  .split.round {
    background-color: % bg_main;
    padding-left: .7rem;
    padding-right: 1.8rem;
    background-image: url("../img/arr_down.png");
    background-repeat: no-repeat;
    background-position: 90% 50%; }

.split-item {
  display: inline-block;
  margin-right: 0.6em;
  vertical-align: middle;
  font-size: 1.4rem; }
  .split-item input {
    margin-right: -.3em;
    font-size: 1.4rem;
    padding: 1.4rem;
    border-radius: 5px 0 0px 5px;
    border: 1px solid #c6ccd2; }
    .split-item input:focus {
      -webkit-outline-radius: 5px; }
    .split-item input:not(:first-child) {
      border-radius: 0px; }
  .split-item .button--item {
    padding: 1.4rem 1.8rem;
    position: relative;
    z-index: 1;
    border: 0px; }

form.split-item .button--item:first-child:after, form.split-item .button--item:first-child:before, form.split-item .button--item:last-child:after, form.split-item .button--item:last-child:before {
  display: none; }

form.split-item .button--item:first-child {
  padding-right: 3rem;
  background-image: url("../img/arr_down.png");
  background-repeat: no-repeat;
  background-position: 90% 50%; }
