
$bg_main: #65abd0
$bg_split: #24aa98

%round
  border-radius: 5px
  
%round--arr
  @extend %round
  position: relative
  z-index: 1
  padding-right: 15px
  &:after
    content: ""
    position: absolute
    background: $bg_main 
    height: 32px
    width: 32px
    top: 5px
    left: 66px
    border-radius: 4px
    transform: rotate(45deg)
    z-index: -1
    -webkit-transition: all .01ms 
    -moz-transition: all .01ms 
    -ms-transition: all .01ms 
    -o-transition: all .01ms 
    transition: all .01ms 
  &:hover:after
    background: lighten($bg_split,10%)
  
%round--menu
  @extend %round
  padding: 0
  width: 48px
  height: 48px
  position: relative
  .menu-icon
    position: absolute
    display: block
    width: 50%
    height: .1rem
    border-radius: .01rem 
    background: white
    left: 50%
    -webkit-transform: translateX(-50%)
    -moz-transform: translateX(-50%)
    -ms-transform: translateX(-50%)
    -o-transform: translateX(-50%)
    transform: translateX(-50%)
    top: 50%
    &:first-child
      top: 30%
    &:last-child
      top: 70%

%split--arr
  @extend %round
  width: 7.5rem
  height: 3.6rem
  position: relative
  
  &:after
    content: ""
    position: absolute
    top: 0
    left: 50%
    height: 100%
    width: 1px
    background-color: #609fc0
  &:hover
    background-color: $bg_main
    
  .arr-icon
    position: absolute
    background-repeat: no-repeat
    background-position: 50% 50%
    width: 53%
    height: 110%
    top: -5%
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px 
     
    &:hover
      background-color: lighten($bg_main,10%)
     
    &:first-child
      left: -2%
      background-image: url("../img/sm_arr_rtl.png")
    &:last-child
      right: -3%
      background-image: url("../img/sm_arr_ltr.png")
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px 
      

%oval
  -webkit-border-radius: 30px 
  border-radius: 30px
   
%oval-inverse
  @extend %oval
  padding-left: 2rem
  padding-right: 2rem
  background: white
  color: $bg_main 
  border-color: $bg_main
  &:hover
    border-color: lighten($bg_main,10%)
    background: white 
 
%circle-back
  border-radius: 50%
  height: 5rem
  width: 5rem
  padding: 15px 15px
  background-image: url("../img/mid_arr_rtl.png")
  background-repeat: no-repeat
  background-position: 46% 50%
  
%circle-forward
  border-radius: 50%
  height: 3.7rem
  width: 3.7rem
  background-image: url("../img/sm_arr_ltr.png")
  background-repeat: no-repeat
  background-position: 50% 50%
  padding: 19px 23px
  
%button--item
  display: inline-block
  font-size: 1.6rem
  color: #fff 
  padding: 1.2rem 3.38rem
  background-color: $bg_main
  border: 2px solid transparent
  margin-right: .5em
  vertical-align: middle

  transition: all .5s  
  
.split.round--menu
  padding: 0
  width: 48px
  height: 49px
  position: relative
  .menu-icon
    position: absolute
    display: block
    width: 50%
    height: .1rem
    border-radius: .01rem 
    background: white
    left: 50%
    -webkit-transform: translateX(-50%)
    -moz-transform: translateX(-50%)
    -ms-transform: translateX(-50%)
    -o-transform: translateX(-50%)
    transform: translateX(-50%)
    top: 50%
    &:first-child
      top: 30%
      width: 40%
    &:last-child
      top: 70%
      width: 30%
     
.split.button--item:not(.round)
  background-color: $bg_split
  margin-right: -5px
  border-radius: 0px
  
  &:first-child 
    border-radius: 5px 0 0 5px
    &:after
      content: ""
      position: absolute
      top: 0
      right: 0
      height: 100%
      width: 2px
      background-color: #269e8e
    .menu-icon
      &:first-child
        left: 45%
      &:last-child
        left: 40%

  &:last-child
    border-radius: 0 5px 5px 0
    &:before
      content: ""
      position: absolute
      top: 0
      left: 0%
      height: 100%
      width: 1px
      background-color: #269e8e
    .menu-icon
      &:first-child
        left: 55%
      &:last-child
        left: 60%


// BUTTON START
.button
  &--item
    @extend %button--item
    
    &.split
      background-color: $bg_split
      &:hover
        background-color: lighten($bg_main,10%)
        
    &:hover
      background-color: lighten($bg_split,10%)
      cursor: pointer 
    &.big
      padding: 18px 56px
      
      &.round
        @extend %round
      
      &.oval
        @extend %oval
        
      &.oval-inverse
        @extend %oval-inverse
          
      &.circle-forward
        @extend %circle-forward
        height: 56px
        width: 56px
        background-image: url("../img/big_arr_ltr.png")
          
    &.sm
      padding: 5px 43.5px
      
      &.round
        @extend %round
      
      &.oval
        @extend %oval
        
      &.oval-inverse
        @extend %oval-inverse
       
      &.round--menu
        @extend %round--menu
        height: 37px
        width: 37px
        
      &.circle-forward
        @extend %circle-forward
        height: 35px
        width: 35px
        padding: 7px 13.5px
        
      &.split--arr
        @extend %split--arr
        
      &.round--arr
        @extend %round--arr
        padding-left: 25px
        &:after
          height: 24px
          width: 24px
          top: 2px
          left: 100%
          margin-left: -13px
        
          
    &.round 
      @extend %round
      &--menu
        @extend %round--menu
      &--arr
        @extend %round--arr
	      
    &.oval
      @extend %oval
      &-inverse
        @extend %oval-inverse
        
    &.circle-back
      @extend %circle-back

.split
  vertical-align: middle
  &.round
    background-color: %bg_main
    padding-left: .7rem 
    padding-right: 1.8rem
    background-image: url("../img/arr_down.png")
    background-repeat: no-repeat
    background-position: 90% 50% 
    	      
.split-item
  display: inline-block
  margin-right: 0.6em
  vertical-align: middle
  font-size: 1.4rem
  input
    margin-right: -.3em
    font-size: 1.4rem 
    padding: 1.4rem
    border-radius: 5px 0 0px 5px
    border: 1px solid #c6ccd2
    &:focus 
      -webkit-outline-radius: 5px
    &:not(:first-child)
      border-radius: 0px 
      
  .button--item
    padding: 1.4rem 1.8rem
    position: relative
    z-index: 1
    border: 0px 
    
.split-item.form
  .button--item
    &:first-child, &:last-child
      &:after, &:before
        display: none
    &:first-child
      padding-right: 3rem
      background-image: url("../img/arr_down.png")
      background-repeat: no-repeat
      background-position: 90% 50%



